/*
  ============================================================
  TOKENS
  ============================================================

  Variables reutilizables para mantener un sistema visual
  consistente en todo el documento.
*/

:root {
  --color-background: #d9ef03;
  --color-text: #000000;
  --color-accent: #26004f;
  --color-hover: #ff0000;
  --font-family-base: "input-serif", system-ui, Arial, Helvetica, sans-serif;
  --font-display-var: "lores-15", sans-serif;
  --font-display-weight: 700
  --font-display-style: normal;
  --font-text-var: "input-serif", serif;
  --font-text-weight: 400;
  --font-text-style: normal;
  --font-size-body: 5vw;
  --font-size-h1: 29vw;
  --font-size-h2: 2.5vw;
  --font-size-h3: 1.25rem;
  --font-size-text: 1rem;
}

/*
  ============================================================
  SELECTOR UNIVERSAL
  ============================================================
  * funciona como un comodín.
  Selecciona todos los elementos HTML.
*/

* {
  box-sizing: border-box;
}


/*
  ============================================================
  BODY
  ============================================================

  Define el sistema visual base del documento.
*/
body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-base);
  font-size: var(--font-size-body);
}

/*
  ============================================================
  JERARQUÍA TIPOGRÁFICA
  ============================================================

  HTML define la jerarquía.
  CSS controla su representación visual.
*/
#titulo {
  text-align: center;
}

h1 {
  margin: 1rem;
  font-family: var(--font-display-var);
  font-weight: var(--font-display-weight);
  font-style: var(--font-display-style);
  font-size: var(--font-size-h1);
}

p {
  font-family: var(--font-text-var);
  font-weight: var(--font-text-weight);
  font-style: var(--font-text-style);
  font-size: var(--font-size-text);
  margin-bottom: 4rem;
}
.label p {
  margin: 10rem;
  font-family: var(--font-text-var);
  font-weight: var(--font-text-weight);
  font-style: var(--font-text-style);
  font-size: var(--font-size-text);
}
.header p {
  margin: 1em 10rem 10rem 10rem;
  font-family: var(--font-text-var);
  font-weight: var(--font-text-weight);
  font-style: var(--font-text-style);
  font-size: var(--font-size-text);
}
h2.label {
  margin: 4rem 0;
  font-family: var(--font-display-var);
  font-weight: var(--font-display-weight);
  font-style: var(--font-display-style);
  font-size: var(--font-size-body);
}
h2 small {
      display: block;
    font-size: .5em;
}

h2 i {
      font-size: .5em;
    display: block;
}

h3.label {
  font-size: var(--font-size-h3);
}

#tagline {
  text-align: center;
  font-size: 2vw;
  margin: 3em 10em 6em 10em;
}

ul {
  font-family: var(--font-text-var);
  font-weight: var(--font-text-weight);
  font-style: var(--font-tex-style);
  font-size: var(--font-size-body);
}


li {
  font-family: var(--font-text-var);
  font-weight: var(--font-text-weight);
  font-style: var(--font-text-style);
  font-size: var(--font-size-text);
  margin: 1rem 0;
}

summary {
  font-family: var(--font-text-var);
  font-weight: var(--font-text-weight);
  font-style: var(--font-text-style);
  font-size: var(--font-size-text);
  margin: 1rem 0;
}
.date-container {
  /* font-size: .75em; */
  margin-bottom: .5em;
}
time {
  font-weight: 600;
}

summary small {
  display: block;
  font-style: italic;
}

/*
  ============================================================
  LINKS
  ============================================================

  El color de acento identifica enlaces y acciones.
*/

a {
  color: var(--color-accent);
  text-decoration: none;
}

.volver {
  display: inline-block;
  margin: 1rem 1rem 1rem 4rem;
  padding: .5rem 1rem;
  background-color: var(--color-accent);
  color: var(--color-background);
  text-decoration: none;
  border-radius: .25rem;
}

a:hover {
  color: var(--color-hover);
  text-decoration: none;
}


/*
  ============================================================
  CONTENEDOR PRINCIPAL
  ============================================================

  width:
  ocupa una proporción del espacio disponible.

  max-width:
  evita que el contenido crezca demasiado.

  margin: 0 auto:
  distribuye el espacio horizontal y centra la caja.
*/

main {
  width: 65%;
  min-width: 290px;
  max-width: 1240px;
  margin: 0 auto;
}


/*
  ============================================================
  ESPACIADO BÁSICO
  ============================================================
*/

.lista-indice {
  list-style: none;
  padding-left: 0;
  font-family: var(--font-text-var);
  font-weight: var(--font-text-weight);
  font-style: var(--font-text-style);
  font-size: var(--font-size-text);
}

footer {
  padding: 2rem;
}

section {
  margin-bottom: 3rem;
}

nav a {
  margin-right: 1rem;
}

